
$c1: #c6538c;
$c2: #ddbbdd;

.App{
  width: 100vw;
  height: 100vh;
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.inputs-group{
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #aaaaaa;
  width: 80%;
}
.col-1{width: 100%;}
.col-2{width: 50%;}
.col-3{width: 25%;}
.col-4{width: 20%;}
.col-4{width: 16.6666%;}
.col-4{width: 8.6666%;}
.col-5{width: 33.33333%;}

@import './Components/EditInput/EditInput.scss';
@import './Components/CheckBoxInput/CheckBoxInput.scss';
@import './Components/EditProduct/EditProduct.scss';
@import './Components/ImgInput/ImgInput.scss';
@import './Components/Draggable/Draggable.scss';